<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>player or team not found</title>
    <style media="screen">
      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Sorry, that specific player or team (<%= @name %>) was NOT found</h1>
  </body>
</html>
